@media (max-width: 1245px) {
  .center {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
  }
  .popup-notification {
    padding: 24px !important;
    width: 330px;
    font-size: 14px !important;
    position: fixed !important;
  }
  .page-header {
    padding: 12px 0 25px 0 !important;
    margin-bottom: 0 !important;
  }
  main {
    .main-text {
      display: none;
    }
    .main-form,
    .forgot-password-form {
      max-width: 100% !important;
      width: 100% !important;
      min-width: 100%;
      padding: 45px 38px 48px 38px;
      margin-bottom: 48px;
      h1 {
        margin-bottom: 24px;
      }
      label {
        font-size: 16px;
      }
      input {
        &:not(:last-of-type) {
          margin-bottom: 24px;
        }
      }
      .password-input {
        margin-bottom: 24px;
      }
      .form-buttons {
        flex-direction: column;
        .submit-button {
          margin-bottom: 24px;
        }
      }
    }
    .forgot-password-form {
      margin-bottom: 135px;
    }
  }
  .page-footer {
    .outer-text {
      flex-direction: column;
      align-items: center;
      margin-bottom: 48px !important;
      a:not(:last-of-type) {
        margin-bottom: 11px;
      }
    }
    .social-links {
      padding: 24px 0 !important;
    }
  }
}
